body{
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width:400px;
    background:linear-gradient(to right,white,lightgreen,green);
 /* background: radial-gradient(elips,red); */
}
.input{ 
    text-align: center;
    background:linear-gradient(to right,white,lightgreen,green);

}

button{

    background-color:#5f9341;
    color: white;
    padding: 5px;
    font-weight: bold;
    margin-top: 10px;
    border-color: #5f9341;
    border-radius: 4px;
    text-align:center ;
    background:linear-gradient(to right,rgb(95, 86, 216));

}
button:hover{
    background-color: lightgreen;
    color: black;
}

input{
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    border: 1px solid #7d7d28;
    margin-bottom:4px;
    /* text-size-adjust: 100px; */
}

ul{
    list-style: none;
    padding-left:0px ;

}
li{
    margin-top: 6px;
}

li a{
    color:#e120b7;
}

#list{
    text-align: center;
    margin-top: 40px;
}

#h{
    color: #5120d6;
}